.awards-section h1 {
  text-shadow: 1px 1px 5px rgba(0, 132, 255, 0.25);
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease-in-out;
}

ul li {
  margin-bottom: 0.6rem;
  transition: transform 0.2s;
}

ul li:hover {
  transform: scale(1.05);
  color: #0d6efd;
}

.uni{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-style:oblique;
  font-weight: 700;
}
