.gymnasium-section .glow {
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.4);
}

.gallery-img {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.gallery-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 99, 71, 0.3);
}

.hover-effect:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.zoom-in {
  animation: zoomIn 0.6s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.uni{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-style:oblique;
  font-weight: 700;
}